<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net472" />
  <package id="System.Security.Cryptography.Xml" version="8.0.2" targetFramework="net472" />
  <package id="Unimake.Cryptography" version="20241009.2029.42" targetFramework="net472" />
  <package id="Unimake.DFe" version="20241014.1850.37" targetFramework="net472" />
  <package id="Unimake.Extensions" version="20241009.2029.42" targetFramework="net472" />
  <package id="Unimake.Utils" version="20241009.2029.42" targetFramework="net472" />
</packages>